services:
  - type: web
    name: move
    env: node
    plan: starter
    buildCommand: yarn install --ignore-engines && yarn build --ignore-engines
    startCommand: rsync -a public/ /data/public/ && yarn start --ignore-engines
    healthCheckPath: /_health
    autoDeploy: false
    disk:
      name: move-data
      mountPath: /data
      sizeGB: 1
    envVars:
      - key: YARN_IGNORE_ENGINES
        value: "true"
      - key: NODE_VERSION
        value: 20.11.0
      - key: NODE_ENV
        value: production
      - key: DATABASE_FILENAME
        value: /data/move.db
      - key: JWT_SECRET
        generateValue: true
      - key: ADMIN_JWT_SECRET
        generateValue: true
      - key: APP_KEYS
        generateValue: true